.layout_set {
  // display: flex;
  // align-items: flex-start;
  height: 100vh;
  width: 100%;
  position: relative;
  .side_bar_full {
    min-width: 200px;
  }
  .side_bar_half {
    min-width: 60px;
  }
  .side_bar {
    background-color: #10383c;
    height: 100%;
    overflow-y: auto;
    float: left;
    transition: all 0.8s;
    .line_set {
      margin: 0;
      padding: 0;
      border-color: #689787;
      height: 1px;
    }
    .sidebar_logo {
      padding: 8px;
      img {
        max-width: 100px;
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
    .sidebar_menuList {
      margin: 0;
      padding: 0;
      .list_set {
        a {
          padding: 10px;
          text-decoration: none;
          display: flex;
          align-items: center;
          color: #fff;
          &.active {
            background-color: #689787;
          }
          &.icon_set {
            justify-content: center;
            padding: 5px;
            svg {
              margin-right: 0;
              font-size: 22px;
            }
          }
          svg {
            font-size: 25px;
            margin-right: 6px;
          }
          .list_name {
            font-size: 17px;
            &.hide {
              display: none;
            }
          }
        }
      }
    }
  }
  .main_section {
    width: 100%;
    height: 100%;
    .header_set {
      background-color: #f6f9f6;
      height: 60px;
      padding: 5px 0;
      border-bottom: 1px solid #689787;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;
      transition: all 0.8s;
      .expan_icon {
        max-width: 30px;
        width: 100%;
        background-color: #10383c;
        height: 90%;
        display: flex;
        font-size: 26px;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 0 8px 8px 0;
      }
      .user_set {
        max-width: 110px;
        width: 100%;
        .menu_btn {
          display: flex;
          margin-left: auto;
          font-size: 30px;
          background-color: transparent;
          border: none;
        }
      }
    }
    .content_set {
      height: calc(100vh - 60px);
      background-color: #f6f9f6;
      overflow-y: auto;
      padding: 30px;
      position: relative;
    }
  }
}
.text_set {
  text-align: center;
}
.logout_btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    max-width: 100px;
    padding: 5px;
    width: 100%;
    margin: 10px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    color: #fff;
    &.yes_btn {
      background-color: lightgray;
      color: #000;
    }
    &.cancle_btn {
      background-color: #10383c;
    }
  }
}
.loader_set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #0000006b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.modal_content {
  .modal_content_title {
    text-align: center;
    font-size: 18px;
  }
  .confirm_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
    button {
      margin: 0 8px 0 8px;
      max-width: 150px;
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid;
      &:hover {
        background-color: transparent !important;
        color: #10383c !important;
      }
      &.proceed_btn {
        background-color: #10383c;
        color: #fff;
      }
      &.cancle_btn {
        background-color: lightgray;
        color: #000;
      }
    }
  }
}

@media (max-width: 1199.98px) {
}
@media (max-width: 1399.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .main_section {
    .header_expanded {
      width: calc(100% - 60px);
      margin-left: auto;
    }

    .header_collpsed {
      width: 100%;
    }
  }

  .layout_set {
    .side_bar_full {
      max-width: 0px;
      min-width: 0px;
    }
    .side_bar_half {
      max-width: 0px;
    }
    .side_bar_expanded {
      width: 60px;
    }
    .side_bar_hidden {
      width: 0px;
    }
    .side_bar {
      position: absolute;
      z-index: 999;
    }
  }
}
@media (max-width: 575.98px) {
  .layout_set .main_section .header_set .expan_icon {
    max-width: 25px;
    height: 100%;
    font-size: 20px;
  }
  .layout_set .main_section .header_set {
    height: 40px;
    padding-right: 5px;
  }
  .layout_set .side_bar .sidebar_logo {
    padding: 2px;
    margin: 10px 0;
  }
  .layout_set .side_bar_half {
    max-width: 40px;
  }
  .layout_set .main_section .content_set {
    height: calc(100vh - 40px);
  }
}
